doctype html
html
  head
    title vHost Manager
  body
    h1 vHost Manager
    each val, index in server
      h3 vHost#{index}
      |Server Name: #{val.server_name}
      br
      |Proxy Pass: #{val['location /'].proxy_pass}
      br
      |Listen Ports: #{val.listen}

